@use "../global/variables.scss" as *;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-button {
  display: block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

@mixin font-title {
  font-family: $font-oswald;
  font-weight: 400;
  color: $basic-black;
}

@mixin font-title-card {
  @include font-title;
  font-size: 16px;
  text-transform: uppercase;
}

@mixin break-point {
  min-width: $mobile-min-width;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}

@mixin page-padding {
  padding-left: $mobile-edges;
  padding-right: $mobile-edges;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-edges;
    padding-right: $tablet-edges;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-edges;
    padding-right: $desktop-edges;
  }
}

@mixin full-width-vw {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
}

@mixin pseudo($width: 100%, $height: 100%, $bg-color: transparent, $display: block, $position: absolute, $content: "") {
  display: $display;
  position: $position;
  width: $width;
  height: $height;
  background-color: $bg-color;
  content: $content;
}

@mixin transition($transition-duration: 0.2s, $transition-property: all, $transition-timing-function: linear) {
  transition-duration: $transition-duration;
  transition-property: $transition-property;
  transition-timing-function: $transition-timing-function;
}
