@use "variables.scss" as *;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-button {
  display: block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

@mixin font-title {
  font-family: $font-oswald;
  font-weight: 400;
  color: $base-black;
}

@mixin font-title-card {
  @include font-title;
  font-size: 16px;
  text-transform: uppercase;
}


@mixin button-reset {
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
}

@mixin break-point {
  max-width: 600px;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: 1220px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    max-width: 1600px;
  }
}

@mixin page-padding {
  padding: 0 $mobile-padding;

  @media (min-width: $tablet-width) {
    padding: 0 $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding: 0 $desktop-padding;
  }
}

//костыль?
@mixin padding-reset {
  margin: 0 -20px;
  padding: 0 20px;
}
