// color
$main: #ffffff;
$main-gray: #F2F2F2;
$text-color: #444444;
$title-color: #000000;

// bg-color
$bg-color: rgba(104, 183, 56, 0.85);
$bg-button: #68B738;

//fonts
$lato: 'Lato', 'Arial', sans-serif;
$oswald: 'Oswald', 'Arial', sans-serif;
