// color
$base-white: #ffffff;
$base-gray: #f2f2f2;
$base-black: #000000;
$special-black: #111111;
$special-grey: #666666;
$special-dark-grey: #444444;
$base-border-color: #d9d9d9;
$special-border-color: #cdcdcd;
$input-border-color: #e7e7e7;
$section-border-color: #e6e6e6;

// bg-color
$base-bg-color: #68b738;
$base-gradient-color: rgba(104, 183, 56, 0.85);

//fonts
$font-lato: "Lato", "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;

// break point
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

//page edges
$mobile-edges: 20px;
$tablet-edges: 30px;
$desktop-edges: 110px;
