@use "../bootstrap.scss" as *;

.additional-products__item {
  padding: 13px 0 19px;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;

  &:not(:first-child) {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 0 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 17px;
  }
}
