@use "../bootstrap.scss" as *;

.button {
  @include reset-button;

  padding: 10px 20px;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-green;


  &--size_xl {
    @media (min-width: $tablet-width) {
      padding: 14px 20px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &:hover,
  &:focus {
    background-color: $special-green;

    @include transition(0.1s, background-color);
  }

  &:active {
    color: $basic-white-opacity30;
  }

  &:disabled,
  &:not([type="button"]):not([type="submit"]):not([href]) {
    color: $basic-white-opacity30;
    background-color: $special-green;
    cursor: default;
  }
}
