@use "../bootstrap.scss" as *;

.button {
  @include reset-button;

  padding: 10px;
  font-family: $font-oswald;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-white;
  background-color: $base-bg-color;
}
