@use "../bootstrap.scss" as *;

.button {
  @include reset-button;

  padding: 10px 20px;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-white;
  background-color: $base-bg-color;

  &--index {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      padding: 14px 20px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding: 14px 20px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
