@use "../bootstrap.scss" as *;

.catalog__title {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.catalog__primary {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}
