@use "../bootstrap.scss" as *;

.comment__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}
