@use "../bootstrap.scss" as *;

.compare-slider {
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.compare-slider__image {
  display: block;
  width: 100%;
  height: auto;

  &--secondary {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.compare-slider__curtain {
  @include button-reset;

  display: flex;
  place-items: center;
  width: 4px;
  position: absolute;
  top: 0;
  left: calc(50% - 4px);
  bottom: 0;
  transform: translateX(50%);
  border-radius: 2px;
  background-color: $special-grey;
  z-index: 1;
}

.compare-slider__thumb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
