@use "../bootstrap.scss" as *;

.compare-slider {
  width: 280px;
  height: 256px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.compare-slider__image-container {
  position: absolute;
  top: 0;
  left: 0;

  &--primary {
    z-index: 2;
  }

  &--secondary {
    z-index: 1;
  }
}

.compare-slider__image {
  display: block;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.compare-slider__curtain {
  @include reset-button;

  display: flex;
  place-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - 4px);
  transform: translateX(50%);
  color: $special-grey;
  border: 2px solid $special-grey;
  border-radius: 2px;
  z-index: 3;

  &:hover,
  &:hover .compare-slider__thumb,
  &:focus,
  &:focus .compare-slider__thumb  {
    border-color: $basic-green;
    color: $basic-green;
  }

  &:active,
  &:active .compare-slider__thumb {
    border-color: $basic-light-green;
    color: $basic-light-green;
  }

  &:disabled,
  &:disabled .compare-slider__thumb {
    opacity: 0.8;
    border-color: $basic-light-green;
    color: $basic-light-green;
    cursor: default;
  }
}

.compare-slider__thumb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
