@use "../bootstrap.scss" as *;

.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    padding: 60px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    background-color: $base-white;
  }
}

.contacts__title {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
}

.contacts__location {
  position: relative;
}

.contacts__location-map {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.contacts__location-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  // @media
}
