@use "../bootstrap.scss" as *;

.contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 565px 655px 1fr;
    grid-template-rows: 95px 1fr 106px;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  column-gap: 18px;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    padding: 60px 80px;
    column-gap: 96px;
    background-color: $basic-white;
  }
}

.contacts__title {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;

  @media (min-width: $tablet-width) {
    width: 235px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 235px;
    row-gap: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts__location {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.contacts__container-map {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.contacts__container-image-map {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  &--nojs {
    display: none;
  }
}

.contacts__image-map {
  display: block;
  height: 362px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
