@use "../bootstrap.scss" as *;

.expenses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4px;
  font-family: $font-oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 9px;
    max-width: 366px;
    min-width: 175px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    column-gap: 66px;
  }
}

.expenses__value {
  margin: 0;
}
