@use "../bootstrap.scss" as *;

.form__fieldset {
  @include page-margin;

  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1em;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    align-items: center;
  }

  &--data-cat {
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 70px;
    }
  }

  &--data-owner {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 70px;
    }
  }

  &--comment {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 70px;
    }
  }

  &--details {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 61px;
    }
  }
}

.form__legend {
  text-transform: none;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    @include full-width-vw;   // поправить все title line, добавить обертку

    line-height: 1em;
  }
}

.form__list {
  @include reset-list;
}


.form__field {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 14px;

  &--radio,
  &--checkbox {
    column-gap: 15px;
  }

  &--comment {
    grid-template-columns: 1fr;
    align-items: start;
    row-gap: 10px;
    min-height: 150px;
    padding: 14px;
    outline: 1px solid $input-border-color;
  }

  @media (min-width: $tablet-width) {
    &--radio,
    &--checkbox {
      column-gap: 20px;
    }

    &--comment {
      min-height: 175px;
      margin: 0;
      padding: 11px 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &--comment {
      grid-column: 1 / -1;
      padding: 9px 20px;
    }
  }
}

.form__input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: inherit;
  border: none;
  outline: 1px solid $input-border-color;

  &--textarea {
    resize: none;
    outline: none;
  }
}

.fieldset__legend {
  line-height: 26px;
}

.form__control-mark {
  position: relative;

  &::before {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $special-border-color;
    content: "";
  }

  &--radio::before {
    border-radius: 50%;
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
  }

  &--radio::after {
    width: 13px;
    height: 13px;
    background-color: $base-bg-color;
    border-radius: 50%;
  }

  &--checkbox::after {
    width: 26px;
    height: 26px;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      width: 18px;
      height: 18px;
    }
  }
}
