@use "../bootstrap.scss" as *;

.hero {
  position: relative;
  padding-top: 27px;

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 302px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    background-image: linear-gradient($base-gradient-color, $base-gradient-color), url("../img/hero/hero-cat-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: contain, contain;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 720px;
      height: 694px;
      top: -143px;
      right: 0;
      transform: none;
      content: "";
    }
  }
}

.hero__container {
  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.hero__title {
  margin-bottom: 25px;
  text-align: center;
  color: $base-white;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px 90px;
    text-align: start;
    color: $base-black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.hero__subtitle {
  margin: 0 0 29px 0;
  font-family: $font-oswald;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $base-white;

  @media (min-width: $tablet-width) {
    margin: 0 0 50px 90px;
    text-align: start;
    color: $base-black;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.hero__product-image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    order: 2;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.hero__link-program {
  @media (min-width: $tablet-width) {
    margin-left: 90px;
    width: 244px;
  }
}
