@use "../bootstrap.scss" as *;

.hero {
  display: grid;
  grid-template-columns: $mobile-edges 1fr $mobile-edges;
  grid-template-rows: 27px;

  &::after {
    @include pseudo;
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    position: static;

    /* Фолбэк */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      url("../img/hero/hero-cat-background.jpg"),
      linear-gradient(to bottom, $hero-bgi-right-0, $hero-bgi-right-75 75%, $hero-bgi-right-90 90%, $hero-bgi-right-100 100%),
      linear-gradient(to bottom, $hero-bgi-left-0, $hero-bgi-left-100);

    /* Для Safari и фолбэк для старых версий Chrome */
    /* stylelint-disable */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      -webkit-image-set(
        url("../img/hero/hero-cat-background@2x.webp") 2x,
        url("../img/hero/hero-cat-background.webp") 1x
      ),
      linear-gradient(to bottom, $hero-bgi-right-0, $hero-bgi-right-75 75%, $hero-bgi-right-90 90%, $hero-bgi-right-100 100%),
      linear-gradient(to bottom, $hero-bgi-left-0, $hero-bgi-left-100);

    /* Для Chrome и Firefox */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      image-set(
        url("../img/hero/hero-cat-background@2x.webp") type("image/webp") 2x,
        url("../img/hero/hero-cat-background.webp") type("image/webp") 1x,
        url("../img/hero/hero-cat-background@2x.jpg") 2x,
        url("../img/hero/hero-cat-background.jpg") 1x
      ),
      linear-gradient(to bottom, $hero-bgi-right-0, $hero-bgi-right-75 75%, $hero-bgi-right-90 90%, $hero-bgi-right-100 100%),
      linear-gradient(to bottom, $hero-bgi-left-0, $hero-bgi-left-100);
    /* stylelint-enable */

    background-repeat: no-repeat;
    background-position: center, center bottom, right, left;
    background-size: contain, contain, 50%, 50%;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: $tablet-edges 1fr $tablet-edges;
    grid-template-rows: auto;

    &::after {
      content: none;
      background-image: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    grid-template-columns: $desktop-edges 1fr 1fr $desktop-edges;
    grid-template-rows: 81px;
    width: $desktop-width;
    margin: 0 auto;
    padding-bottom: 52px;
  }
}

.hero__container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-bottom: 135px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 416px;
    grid-row: 2 / 3;
    margin-left: 80px;
  }
}

.hero__container-image {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  justify-self: center;
  margin: -135px 0 3px;

  @media (min-width: $tablet-width) {
    margin: -29px 0 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 5;
    grid-column: 2 / -2;
    margin: 0 -226px 0 0;
  }
}

.hero__title {
  margin-bottom: 25px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    color: $basic-black;
    text-align: start;
  }
}

.hero__subtitle {
  margin-bottom: 29px;
  font-family: $font-oswald;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: start;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.hero__product-image {
  display: block;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.hero__link-program {
  grid-row: 4 / 5;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    align-self: start;
    margin-left: 90px;
    width: 244px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3 / 4;
    margin-left: 80px;
  }
}
