@use "../bootstrap.scss" as *;

.indicator-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 32px;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;


  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 43px;
  }
}

.indicator-list__item {
  &--total {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    color: $base-black;

    .indicator-list__value {
      font-family: $font-oswald;
      font-size: 14px;
      line-height: 20px;
      color: $base-black;
      text-transform: uppercase;
    }

    .indicator-list__key {
      margin-right: 4px;
      font-size: 14px;
      line-height: 20px;
      color: $base-black;
    }

    @media (min-width: $tablet-width) {
      margin-left: auto;
    }
  }
}

.indicator-list__key {
  font-family: $font-oswald;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-black;
}

.indicator-list__value {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
}
