@use "../bootstrap.scss" as *;

.logo {
  &:hover {
    opacity: 0.8;

    @include transition(0.1s, opacity);
  }

  &:active {
    opacity: 0.6;
  }

  &:not([href]) {
    cursor: default;

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.logo__image {
  display: block;
  min-width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    min-width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    min-width: 202px;
    height: 59px;
  }
}
