@use "../bootstrap.scss" as *;

.logo {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
