@use "../bootstrap.scss" as *;

.logo-title {
  color: $special-black;
}

.logo-title__icon {
  display: block;
  width: 101px;
  height: 18px;

  &--size_xl {
    width: 128px;
    height: 24px;
  }
}
