@use "../bootstrap.scss" as *;

.main-header {
  @include break-point;
  @include page-padding;

  grid-row: 1 / 2;
  grid-column: 1 / -1;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }

}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-header__logo-title {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__navigation {
  @media (min-width: $tablet-width) {
    align-self: flex-end;
  }
}

.main-header--nojs .main-header__toggle {
  display: none;
}

.main-header--nojs .main-header__navigation {
  display: block;
}
