@use "../bootstrap.scss" as *;

.main-header {
  &--index {
    margin-bottom: 20px;
    border: none;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      margin-bottom: 82px;

      &::after {
        @include pseudo;
        grid-row: 1 / -1;
        grid-column: -1 / -2;
        position: static;
        background-image:
          linear-gradient($basic-green-opacity85, $basic-green-opacity85),
          url("../img/hero/hero-cat-background-desktop.jpg"),
          linear-gradient(to bottom, rgb(76, 75, 80), rgb(89, 79, 84));
        background-repeat: no-repeat;
        background-position: center, right bottom, left;
        background-size: contain;
        z-index: -2;
      }
    }
  }
}

.main-header__container {
  position: relative;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 94px;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    justify-content: space-between;
  }

  &--index {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 267px;
      margin-bottom: 29px;
    }
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-header__logo-title {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header--nojs .main-header__toggle {
  display: none;
}

.main-header--nojs .main-header__navigation {
  display: block;
}
