@use "../bootstrap.scss" as *;

.main-header {
  @include break-point;
  @include page-padding;

  position: relative;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 55px 0 74px;
  }
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-header__logo-title {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__navigation {
  @media (min-width: $tablet-width) {
    align-self: flex-end;
  }
}

.main-header--nojs .main-header__toggle {
  display: none;
}

.main-header--nojs .main-header__navigation {
  display: block;
}
