@use "../bootstrap.scss" as *;

.main-footer__container {
  &--index-page {
    background: $basic-white;
  }
}

.main-footer__wrapper {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    min-width: auto;
    padding: 0;
    z-index: 1;
  }
}
