@use "../bootstrap.scss" as *;

.nav-toggle {
  @include reset-button;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 22px;
  margin-left: 12px;

  &--active .nav-toggle__line {
    background-color: transparent;

    &::before {
      transform: translateY(8px) rotate(45deg);
    }

    &::after {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav-toggle__line {
  width: 24px;
  height: 2px;
  background-color: $basic-black;

  @include transition(0.1s, background-color);

  &::before,
  &::after {
    @include pseudo(100%, 2px, $basic-black);
    @include transition(0.2s, transform);
    right: 0;
  }

  &::before {
    top: 2px;
  }

  &::after {
    bottom: 2px;
  }
}
