@use "../bootstrap.scss" as *;

.page {
  display: grid;
  justify-content: center;
  min-block-size: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-block-size: 100%;
}

.page__header {
  margin-bottom: 27px;
  border-bottom: 1px solid $basic-light-gray;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }

  &--index-page {
    margin-bottom: 20px;
    border: none;

    @media (min-width: $tablet-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      margin-bottom: 82px;

      &::after {
        grid-row: 1 / -1;
        grid-column: -1 / -2;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-image:
          linear-gradient($basic-green-opacity85, $basic-green-opacity85),
          url("../img/hero/hero-cat-background-desktop.jpg"),
          linear-gradient(to bottom, rgb(76, 75, 80), rgb(89, 79, 84));
        background-repeat: no-repeat;
        background-position: center, right bottom, left;
        background-size: contain;
        z-index: -2;
        content: "";
      }
    }
  }
}

.page__header-container {
  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }
}

.page__catalog {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

