@use "../bootstrap.scss" as *;

.page {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  min-block-size: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-block-size: 100%;
}

.page__header {
  margin-bottom: 27px;
  border-bottom: 1px solid $basic-light-gray;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.page__footer {
  background-color: $basic-gray;
}


.page__catalog {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}
