@use "../bootstrap.scss" as *;

.primary-catalog__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  column-gap: 15px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 63px 80px;
  }
}

.primary-catalog__item {
  min-height: 209px;
  padding: 20px 0 24px;
  position: relative;

  &::before {
    @include pseudo(100vw, 1px, $special-very-light-gray);
    @include full-width-vw;

    top: 0;

    @media (min-width: $mobile-catalog-card-width) {
      content: none;
    }
  }

  &:last-child::after {
    @include pseudo(100vw, 1px, $special-very-light-gray);
    @include full-width-vw;

    bottom: 0;

    @media (min-width: $mobile-catalog-card-width) {
      content: none;
    }
  }

  &--show {
    min-height: 207px;
  }

  @media (min-width: $tablet-width) {
    max-width: 400px;
    padding: 81px 0 0;
  }
}

.primary-catalog__card {
  @media (min-width: $tablet-width) {
    padding: 0 37px 40px;
    background-color: $basic-gray;
  }
}
