@use "../bootstrap.scss" as *;

.program-card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  padding: 24px 20px 18px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr auto;
    padding: 75px 63px 56px 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 1fr;
    width: 570px;
    padding: 47px 52px 59px;
  }

  &::before {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: flex-start;
    margin: 0 20px 22px 0;
    border-radius: 50%;

    @include pseudo(50px, 50px, $basic-green, block, static);

    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      width: 200px;
      height: 200px;
      margin: 0;
      align-self: flex-start;
      transform: translateY(16px);
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100px;
      height: 100px;
      margin: 0 62px 40px 0;
      transform: none;
    }
  }

  &::after {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-repeat: no-repeat;
    background-size: contain;

    @include pseudo;

    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &--weight_loss::after {
    top: -3px;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/stack.svg#icon-weight-loss");
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      top: -5px;
      left: 50px;
    }
  }

  &--weight_gain::after {
    top: 11px;
    left: -7px;
    width: 67px;
    height: 28px;
    background-image: url("../img/stack.svg#icon-weight-gain");
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 286px;
      height: 112px;
      top: 60px;
      left: -43px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: 20px;
      left: -19px;
    }
  }
}

.program-card__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin-bottom: 39px;
  }
}

.program-card__description {
  grid-column: 1 / -1;
  position: relative;
  margin: 0 0 38px;

  &::after {
    @include pseudo(100%, 1px, $basic-light-gray);
    bottom: -23px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    margin: 0 53px 55px 0;
    border: none;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin: 0 0 27px;
  }
}

.program-card__link {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding: 4px 0;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;

  &::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid $basic-black;
    content: "";
  }

  &::before {
    @include pseudo(auto, 2px, $basic-black, block, static);
    min-width: 18px;
    margin-right: -1px;

    @include transition(0.2s, min-width);
  }

  &:hover::before,
  &:focus::before {
    min-width: 26px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    max-width: 50%;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    line-height: 30px;
  }
}

.program-card__link-text {
  order: -1;
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 26px;
  }
}
