@use "../bootstrap.scss" as *;

.promo__container {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 58px 40px 43px;
  color: $basic-white;

  /* Фолбэк */
  background-image:
    linear-gradient($basic-green-opacity85, $basic-green-opacity85),
    url("../img/promo/promo-cat-background.jpg");

  /* Для Chrome и Safari */
  background-image:
    linear-gradient($basic-green-opacity85, $basic-green-opacity85),
    -webkit-image-set(
      url("../img/promo/promo-cat-background@2x.webp") 2x,
      url("../img/promo/promo-cat-background.webp") 1x);

  /* Для Firefox */
  background-image:
    linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      image-set(
        url("../img/promo/promo-cat-background@2x.webp") 2x,
        url("../img/promo/promo-cat-background.webp") 1x,
        url("../img/promo/promo-cat-background@2x.jpg") 2x,
        url("../img/promo/promo-cat-background.jpg" ) 1x);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%, cover;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    padding: 40px 125px 40px 77px;

    /* Фолбэк */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      url("../img/promo/promo-cat-background-tablet.jpg"),
      linear-gradient(to bottom, $promo-bgi-left-0, $promo-bgi-left-20 20%, $promo-bgi-left-100 100%),
      linear-gradient(to bottom, $promo-bgi-right-0, $promo-bgi-right-100 100%);

    /* Для Chrome и Safari */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      -webkit-image-set(
        url("../img/promo/promo-cat-background-tablet@2x.webp") 2x,
        url("../img/promo/promo-cat-background-tablet.webp") 1x),
      linear-gradient(to bottom, $promo-bgi-left-0, $promo-bgi-left-20 20%, $promo-bgi-left-100 100%),
      linear-gradient(to bottom, $promo-bgi-right-0, $promo-bgi-right-100 100%);

    /* Для Firefox */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      image-set(
        url("../img/promo/promo-cat-background-tablet@2x.webp") 2x,
        url("../img/promo/promo-cat-background-tablet.webp") 1x,
        url("../img/promo/promo-cat-background-tablet@2x.jpg") 2x,
        url("../img/promo/promo-cat-background-tablet.jpg" ) 1x),
      linear-gradient(to bottom, $promo-bgi-left-0, $promo-bgi-left-20 20%, $promo-bgi-left-100 100%),
      linear-gradient(to bottom, $promo-bgi-right-0, $promo-bgi-right-100 100%);

    background-position: center, center, left, right;
    background-size: 100%, contain, 50%, 50%;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    min-height: 288px;
    padding: 56px 42px 43px;
    margin: 0;

    /* Фолбэк */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      url("../img/promo/promo-cat-background.jpg");

  /* Для Chrome и Safari */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
      -webkit-image-set(
        url("../img/promo/promo-cat-background@2x.webp") 2x,
        url("../img/promo/promo-cat-background.webp") 1x);

  /* Для Firefox */
    background-image:
      linear-gradient($basic-green-opacity85, $basic-green-opacity85),
        image-set(
          url("../img/promo/promo-cat-background@2x.webp") 2x,
          url("../img/promo/promo-cat-background.webp") 1x,
          url("../img/promo/promo-cat-background@2x.jpg") 2x,
          url("../img/promo/promo-cat-background.jpg" ) 1x);

    background-size: 100%, cover;
  }

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    margin-bottom: 48px;
    background-image: url("../img/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 82px;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      height: 83px;
      margin-bottom: 46px;
    }
  }
}

.promo__description {
  font-family: $font-lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
