@use "../bootstrap.scss" as *;

.secondary-catalog__title {
  margin-bottom: 36px;
  line-height: 1em;
  text-transform: none;

  &::after {
    top: 14px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;

    &::after,
    &::before {
      top: 22px;
    }
  }
}

.secondary-catalog__container {
  @media (min-width: $desktop-width) {
    @include page-margin;

    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 81px;
  }
}

.secondary-catalog__list {
  @include reset-list;

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.secondary-catalog__item {
  @include page-margin;

  display: grid;
  min-height: 130px;
  padding: 13px 0;
  border-top: 1px solid $base-border-color;
  border-bottom: 1px solid $base-border-color;

  &:not(:first-child) {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    min-height: 139px;
    padding: 26px 38px;
    border: none;
    outline: 1px solid $base-border-color;
  }

  @media (min-width: $desktop-width) {
    min-height: 72px;
    margin: 0;
    padding: 15px 0;
    outline: none;
    border-top: 1px solid $base-border-color;
    border-bottom: 1px solid $base-border-color;

    &:not(:first-child) {
      border-top: none;
    }
  }
}
