@use "../bootstrap.scss" as *;

.secondary-card {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    row-gap: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr min(244px);
    column-gap: 40px;
  }
}

.secondary-card__title {
  @include font-title-card;

  margin: 0 0 11px;
  line-height: 1em;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 20px;
    margin: 0;
  }
}

.secondary-card__property {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  margin: 0 0 13px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 49px;
    margin: 0;
  }
}

.secondary-card__description {
  @media (min-width: $tablet-width) {
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.secondary-card__price {
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 42px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.secondary-card__link {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}
