@use "../bootstrap.scss" as *;

.site-navigation {
  &--index .site-navigation__link {
    @media (min-width: $desktop-width) {
      color: $base-white;
      text-decoration-color: $base-white;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .site-navigation--closed {
    display: none;
  }

  .site-navigation--opened {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: $base-white;
    z-index: 1;
  }
}

.site-navigation__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 33px;
  }
}

.site-navigation__item {
  text-align: center;
  border-top: 1px solid $input-border-color;
  border-bottom: 1px solid $input-border-color;

  &:not(:last-child) {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-navigation__link {
  display: block;
  padding: 22px $mobile-edges 24px;
  font-family: $font-oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-black;

  @media (min-width: $tablet-width) {
    padding: 8px 0 8px;
    font-size: 18px;
    line-height: 24px;

    &--current {
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-thickness: 2px;
      text-underline-offset: 7px;
      text-decoration-color: $base-bg-color;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }
}
