@use "../bootstrap.scss" as *;

.social {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 35px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 0;
  }
}

.social__container {
  display: grid;
  align-items: center;
  column-gap: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.social__logo-title-link {
  display: grid;
  place-content: center;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid $basic-light-gray;

  @media (min-width: $tablet-width) {
    width: auto;
    border-bottom: none;
  }

  &:hover,
  &:focus {
    color: $raven-black;
  }

  &:active {
    color: $dim-gray;
  }
}

.social-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  justify-self: center;
  width: 100%;
  padding: 19px 0;
  border-bottom: 1px solid $basic-light-gray;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: 224px;
    padding-left: 40px;
    border-bottom: none;
  }
}

.social__link {
  display: grid;
  place-content: center;
  color: $special-grey;

  &:hover,
  &:focus {
    color: $basic-green;

    @include transition;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  width: 28px;
  height: 22px;
}
